@using ClarifEye.Web.Models;
@using ClarifEye.Common.Enums;
@model TextResultViewModel

@{
    ViewData["Title"] = "Text Detector";
    var languages = Enum.GetValues(typeof(Language)).Cast<Language>();
}

@{
    ViewBag.HideNavbar = true;
}


<div class="traffic-light-wrapper d-flex justify-content-center align-items-center my-5">
    <h1 id="func-title">Text Detector</h1>
    <div id="connector-container">
        <div id="translate-container">
            <div id="trans-container">
                <select id="languageSelect" class="form-select">
                    @foreach (var lang in languages)
                    {
                        var selected = lang == Model.Language ? "selected" : "";
                        <option value="@lang" selected="@selected">@lang</option>
                    }
                </select>

                <span class="speaker-icon">🔊</span>
                <audio id="ttsPlayer" hidden></audio>

                <input type="hidden" id="text" value="@Model.Text" />
            </div>

            <button id="translateBtn" class="btn btn-primary">Translate</button>

            <div id="textarea-translate">
                <textarea readonly class="scrollable-textarea">@Model.Text</textarea>

            </div>
        </div>

        <div style="width: 2px; height: 200px; background-color: #2c2e2c; margin:5px auto;"></div>

        <div id="traffic-light-desc">
            Losing your sight shouldn’t mean losing your connection to the world.
            Our glasses read printed text aloud—menus, signs, labels, even handwritten notes—so you never miss what matters.
            No need to learn Braille, no screen to distract. Just clear, calm text-to-speech, right when you need it.
            Built-in translation bridges languages too, connecting people and cultures with every glance.
        </div>
    </div>
</div>

<div id="color-and-traffic-light">
</div>

<div style="width: 2px; height: 200px; background-color: #1c1f1d; margin: 10px auto;"></div>

<div id="traffic-light-desc">edfhefevfgsdevfghsvdfgsvdvsdcvsgdh df whge fghwefhwe fwghfsgh dfh sahgsfd gfd fsgffdhg fsgd fsgdf hfsdghffs gfsehg g f sdf gsdfhg fsdg f</div>

